@{
    ViewBag.Title = "تولید سریع کتاب";
}

<h2>اطلاعات کتاب</h2>
<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>

</div>

@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>

    <script src="~/Scripts/i18n/grid.locale-fa.js"></script>

    <script src="~/Scripts/jquery.jqGrid.min.js"></script>

    <script src="~/Scripts/script.js"></script>
}